* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat, sans-serif;
}

header {
  background-color: #ffebcd;
  box-shadow: opx 2px 6px rgba(0, 0, 0, 0.2);
  padding: 15px;
  font-style: italic, bold;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  appearance: none;
}

.articles article {
  padding: 30px 15px;
  background-color: #fff8dc;
}

.articles article a {
  text-decoration: none;
}

.articles article h3 {
  color: #212121;
}

.articles article:nth-child(2n) {
  background-color: #f3f3f3;
}

.articles article:hover {
  background-color: #ffebcd;
}

h2 {
  font-size: medium;
}
